@using ServiceFirstApplication.Models
@model ResetPasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutCManager.cshtml";
}

<div class="side-body cstm-side-body">
    <h3 class="a_heading">Change Password</h3>
    @using (Html.BeginForm("ChangePassword", "CManager", FormMethod.Post))
    {
        if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                <strong></strong> @ViewBag.Message
            </div>
        }

        <div class="form-group">
            <label for="exampleInputFile">Old Pasword</label>
            @Html.PasswordFor(x => x.OldPassword,
new { @class = "form-control-file", @required = "" })
        </div>

        <div class="form-group">
            <label for="exampleInputFile">New Pasword</label>
            @Html.PasswordFor(x => x.Password,
new { @class = "form-control-file", @required = "", @id = "password" })
        </div>

        <div class="form-group">
            <label for="exampleInputFile">Confirm Pasword</label>
            @Html.PasswordFor(x => x.ConfirmPassword,
new { @class = "form-control-file", @required = "", @id = "confirmpassword" })
        </div>


        <div class="can_sub">
            <button type="submit" class="btn btn-primary" id="btn-submit">Submit</button>
        </div>
    }


</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

        });
        $('#btn-submit').click(function () {
            var hasError = false;

            var password = $("#password").val();
            var confirmpassword = $("#confirmpassword").val();
            if (password != confirmpassword) {
                alert('The password and confirmation password do not match.');
                hasError = true;
                $("#confirmpassword").val('');
            }


            if (hasError == true) { return false; }

        });


    </script>
}